# Ignore the default settings file
default/settings.py

# Ignore credentials files
accounts/

# Ignore the listed data files
default/property/data/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/

# Ignore log files
*.log

# Ignore database files
*.db

# Ignore media files
cache/

# Ignore VS Code settings
.vscode/